@import "../../variables.scss";

.topSection {
  height: 100vh;
  background-image: url("middle.png");
  background-color: $topBackgroundFallback;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $maxMobile){
    height: 265px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  max-width: $desktopWidth;
}