@import "../assets/fonts/fonts";
@import "variables";

* {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $h1FontSize;
  text-transform: uppercase;
  font-weight: 400;

  @media (max-width: $maxMobile){
    font-size: $h1FontSizeMobile;
  }
}

h2 {
  font-size: $h2FontSize;
  font-weight: 400;

  @media (max-width: $maxMobile){
    font-size: $h2FontSizeMobile;
  }
}

p {
  font-size: $primaryFontSize;
  line-height: 1.8;

  @media (max-width: $maxMobile){
    font-size: $primaryFontSizeMobile;
    line-height: 2.4;
  }
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

#root {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  @media (max-width: $maxMobile) {
    justify-content: flex-start;
  }
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 1080px;
}