// colors:
$primaryWhite: #f1f1f1;
$topBackgroundFallback: #2F4F4F;
$manBackgroundFallback: #f5f3df;

// sizes:
$desktopWidth: 1920px;
$scrollDownIconWidth: 32px;
$manBackgroundWidth: 771px;
$primaryFontSize: 24px;
$secondaryFontSize: 18px;
$h1FontSize: 60px;
$h2FontSize: 36px;
$h1FontSizeMobile: 30px;
$h2FontSizeMobile: 18px;
$primaryFontSizeMobile: 18px;


// screen-sizes:
$laptop: 1024px;
$tablet: 768px;
$maxMobile: $tablet - 1;